<h3>PROYECTO 2</h3>
<h1>MEN AT WORK</h1>
<form><br/>
  Nombre:<input class="form-control" type="char" placeholder="Pedro Picapiedra"
              [(ngModel)]="nombre" name="nombre">
	<br/>
  Ci:<input class="form-control" type="number" placeholder="3643454"
              [(ngModel)]="ci" name="ci">
  <br/>
  Numero de Empleado:<input class="form-control" type="number" placeholder="364"
              [(ngModel)]="num" name="num">
	<br/>
  Area de Trabajo:<input class="form-control" type="char" placeholder="Planos"
              [(ngModel)]="area" name="nombre">
	<br/>
  Profesion:<input class="form-control" type="char" placeholder="Ing Civil"
              [(ngModel)]="profesion" name="profesion">
	<br/>
  Tiempo:<input class="form-control" type="number" placeholder="2"
              [(ngModel)]="tiempo" name="tiempo">
  <br/>
	<button class="btn btn-primary" (click)="Mostrar()">Mostrar</button>
</form><br/>
el resultado es= {{total}}
<!-- el resultado es= {{total}} -->